
.debug_img_item{
    list-style-type: none;
}

.main_wrapper{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.debug_img{
    grid-column: 1;
    position: relative;
}


.legend{
    grid-column: 2;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-right: 10vh;
    text-align: center;
}
.dot{
    position: absolute;
    top:-10px; !important;
    left: -10px; !important;
    background-color: red;
    display: inline-block;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

