{% extends "main.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/debug_tracker.css')}}">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<meta charset="UTF-8">
<script>
    $(document).ready(function(){
        var current_objects = {};  //dict: <key:(x,y)>
        var colors={}; //color per object in a dict
        var socket = io.connect('http://'+ document.domain+':'+location.port);
        var img = document.getElementById("img");
        var legend = document.getElementById("legend");

        socket.on('connect', function(){
            console.log('Im Connected');
           });

        socket.on('tracker_update', function(data){
            console.log("update received");
            console.log(data);
            if(!(current_objects.hasOwnProperty(data["ID"]))) {
                console.log("new object");
                current_objects[data["ID"]] = data["position"];
                colors[data["ID"]] = intToRGB(parseInt(data["ID"])); 
                //create new dot 
                var dot = document.createElement("div");
                dot.id = data["ID"]+"dot";
                dot.className = "dot";
                console.log(data["position"][0]);
                dot.style.top = String(parseInt(data["position"][0])-10)+"px";
                dot.style.left = String(parseInt(data["position"][1])-10)+"px";
                dot.style.backgroundColor = "#"+colors[data["ID"]];
                img.appendChild(dot);
                //create object entry
                var txt = document.createElement("div");
                txt.className = "p";
                txt.style.color = "#"+colors[data["ID"]];
                txt.innerHTML = ("<strong>ID:"+ +data["ID"]+"<\strong>");
                legend.appendChild(txt);


    
                }
            else {
                current_objects[data["ID"]]=data["position"];
                console.log('position updated of object '+ data["ID"]);
                //update position
                var dot = document.getElementById(data["ID"]+"dot")
                dot.style.top = String(parseInt(data["position"][0])-10)+"px";
                dot.style.left = String(parseInt(data["position"][1])-10)+"px";            }
        });

    });

    function intToRGB(i) {
    var hex = (((i*30)<<2)&0xFF).toString(16) +
            (((i*15417))&0xFF).toString(16) +
            (((i*127)>>8)&0xFF).toString(16) +
            ((i*19)&0xFF).toString(16);
    // Sometimes the string returned will be too short so we 
    // add zeros to pad it out, which later get removed if
    // the length is greater than six.
    hex += '000000';
    return hex.substring(0, 6);
}
</script>
<h1>Tracker testing</h1>
<div class="main_wrapper">
    <div class="debug_img" id="img">
        <img src="../static/Img/layout.png" alt="">
    </div>
    <div class="legend" id="legend">
        <h3>Objects</h3>
    </div>
</div>
{% endblock %}